@{
    ViewData["Title"] = "Головна";
}

<div class="text-center">
    <h1 class="display-4">Вітаю вас в магазині дизайнерського одягу</h1>
    <p><img style="width:60%" src="~/logo.png"/></p>
</div>
