@model eMarket.Models.Product
@{
    ViewData["Title"] = "Видалити ";
}
<div class="container">
    <p>
        <label>Ви справді хочете видалити цей товар ?</label>
    </p>
    <p>
        <form asp-action="Delete" asp-controller="Product"> 
            <input class="btn btn-danger mb-3" type="submit" value="Видалити" />
        </form>
    </p>
</div>
