html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #ffcaa6;
}

html {
  position: relative;
  min-height: 100%;
}

body {
    margin-bottom: 60px;
    background-color:blanchedalmond;
}

.field-validation-error {
    color: #b94a48;
}

input.input-validation-error {
    border: 1px solid #b94a48;
}

input.valid {
    border: 1px solid #16a085;
}

.validation-summary-errors {
    color: #b94a48;
}

textarea.input-validation-error {
    border: 1px solid #b94a48;
}

textarea.valid {
    border: 1px solid #16a085;
}

.card {
    width: 280px;
    height: 420px;
    padding: .8em;
    background: #f5f5f5;
    position: relative;
    overflow: visible;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.card-img {
    background-color: #ffcaa6;;
    border-radius: .5rem;
    transition: .3s ease;
}



svg {
    color:black;
    width: 20px;
    height: 20px;
}

.card-info {
    padding-top: 20px;
}

.links {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items:start;
    padding-top: 8px;
    border-top: 1px solid #ddd;
    padding-bottom: 10px;
}

.card-footer {
    width: 100%;
    display: flex;
    padding-top:8px;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid #ddd;
    padding-bottom:10px;
}


/*Text*/
.text-title {
    font-weight: 900;
    font-size: 1.2em;
    line-height: 1.5;
}

/*Button*/
.card-button {
    border: 1px solid #252525;
    display: flex;
    padding: .3em;
    cursor: pointer;
    border-radius: 50px;
    transition: .3s ease-in-out;
}

/*Hover*/
.card-img:hover {
    transform: translateY(-25%);
    box-shadow: rgba(226, 196, 63, 0.25) 0px 13px 47px -5px, rgba(180, 71, 71, 0.3) 0px 8px 16px -8px;
}

.card-button:hover {
    border: 1px solid #ffcaa6;
    background-color: #ffcaa6;
}
a {
    color: black;
    text-decoration: none !important;
    border: none !important;
}
a:hover{
    color: black;
    text-decoration: none !important;
    border: none !important;
}
a:visited{
    color: black;
    text-decoration: none !important;
    border: none !important;
}
a:active{
    color: black;
    text-decoration: none !important;
    border: none !important;
}

.box {
    width: 140px;
    height: auto;
    float: left;
    transition: .5s linear;
    position: relative;
    display: block;
    overflow: hidden;
    padding: 15px;
    text-align: center;
    margin: 0 5px;
    background: transparent;
    text-transform: uppercase;
    font-weight: 900;
}

.box:before {
     position: absolute;
     content: '';
     left: 0;
     bottom: 0;
     height: 4px;
     width: 100%;
     border-bottom: 4px solid transparent;
     border-left: 4px solid transparent;
     box-sizing: border-box;
     transform: translateX(100%);
}

.box:after {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 100%;
    height: 4px;
    border-top: 4px solid transparent;
    border-right: 4px solid transparent;
    box-sizing: border-box;
    transform: translateX(-100%);
}

.box:hover {
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
}

.box:hover:before {
    border-color: #ffcaa6;
    height: 100%;
    transform: translateX(0);
    transition: .3s transform linear, .3s height linear .3s;
}

.box:hover:after {
    border-color: #ffcaa6;
    height: 100%;
    transform: translateX(0);
    transition: .3s transform linear, .3s height linear .5s;
}

.nav-item {
    color: #ffcaa6;
    text-decoration: none;
    cursor: pointer;
    outline: none;
    border: none;
    background: transparent;
}
footer {
    background-color:lightgrey;
    color:white;
}
.button {
    position: relative;
    width: 160px;
    height: 40px;
    cursor: pointer;
    display: flex;
    align-items: center;
    border: 1px solid #ffcaa6;
    background-color: #ffcaa6;
}

.button, .button__icon, .button__text {
    transition: all 0.3s;
}

.button .button__text {
    transform: translateX(30px);
    color: #fff;
    font-weight: 600;
}

    .button .button__icon {
        position: absolute;
        transform: translateX(109px);
        height: 100%;
        width: 39px;
        background-color: #ffcaa6;
        display: flex;
        align-items: center;
        justify-content: center;
    }

.button .svg {
     width: 30px;
    stroke: #fff;
}

    .button:hover {
        background: #ffcaa6;
    }

.button:hover .button__text {
    color: transparent;
}

.button:hover .button__icon {
    width: 148px;
    transform: translateX(0);
}

    .button:active .button__icon {
        background-color: #f5d5bf;
    }

    .button:active {
        border: 1px solid #f5d5bf;
    }

.buy-button {
    --width: 100px;
    --height: 35px;
    --tooltip-height: 35px;
    --tooltip-width: 90px;
    --gap-between-tooltip-to-button: 18px;
    --button-color: #222;
    --tooltip-color: #fff;
    width: var(--width);
    height: var(--height);
    background: var(--button-color);
    position: relative;
    text-align: center;
    border-radius: 0.45em;
    font-family: "Arial";
    transition: background 0.3s;
}

    .buy-button::before {
        position: absolute;
        content: attr(data-tooltip);
        width: var(--tooltip-width);
        height: var(--tooltip-height);
        background-color: #555;
        font-size: 0.9rem;
        color: #fff;
        border-radius: .25em;
        line-height: var(--tooltip-height);
        bottom: calc(var(--height) + var(--gap-between-tooltip-to-button) + 10px);
        left: calc(50% - var(--tooltip-width) / 2);
    }

    .buy-button::after {
        position: absolute;
        content: '';
        width: 0;
        height: 0;
        border: 10px solid transparent;
        border-top-color: #555;
        left: calc(50% - 10px);
        bottom: calc(100% + var(--gap-between-tooltip-to-button) - 10px);
    }

    .buy-button::after, .buy-button::before {
        opacity: 0;
        visibility: hidden;
        transition: all 0.5s;
    }

.buy-text {
    display: flex;
    align-items: center;
    justify-content: center;
}

.button-wrapper, .buy-text, .buy-icon {
    overflow: hidden;
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    color: #fff;
}

.buy-text {
    top: 0
}

.buy-text, .buy-icon {
    transition: top 0.5s;
}

.buy-icon {
    color: #fff;
    top: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

    .buy-icon svg {
        width: 24px;
        height: 24px;
    }

.buy-button:hover {
    background: #222;
}

    .buy-button:hover .text {
        top: -100%;
    }

.button:hover .icon {
    top: 0;
}

.buy-button:hover:before, .buy-button:hover:after {
    opacity: 1;
    visibility: visible;
}

.buy-button:hover:after {
    bottom: calc(var(--height) + var(--gap-between-tooltip-to-button) - 20px);
}

.buy-button:hover:before {
    bottom: calc(var(--height) + var(--gap-between-tooltip-to-button));
}

